<form action="">
  <div class="field">
    <label class="label">Título</label>
    <div class="control">
      <input class="input" type="text" placeholder="Ex: Nome do Plano">
    </div>
  </div>

  <div class="field">
    <label class="label">Preço</label>
    <div class="control">
      <input class="input" type="email" placeholder="Ex: Valor do Plano">
    </div>
  </div>

  <div class="field">
    <label class="label">Descrição</label>
    <div class="control">
      <textarea class="textarea" placeholder="Ex: Descrição do Plano"></textarea>
    </div>
  </div>

  <a class="button is-success">Adicionar {{texttest}}</a>
</form>